.Keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px 0;


  ul {
    display: flex;
    gap: 27px 22px;
    list-style-type: none;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 34px;
      font-weight: 900;

      width: 84px;
      height: 84px;
      background-color: rgb(var(--c_light900), 1);
      color: rgb(var(--c_dark900));
      border-radius: 7px;
      transition: 0.5s;
      &.active {
        background-color: rgb(var(--c_light900), 0.1);
        color: rgb(var(--c_dark900));
        // opacity: 0;
      }
    }
  }
}