* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --c_dark900: 35, 34, 39;
  --c_dark800: 58 55 69;
  --c_light800: 78, 80, 93;
  --c_light900: 193, 222, 231;
  
  --hp: 0%;
}


body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  background-color: rgb(var(--c_dark900));
}

#root, .Game {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root {
  max-width: 1920px;
  height: 1080px;
  transform: scale(0.75);

  .LowerPanel {
    width: 100%;
    height: 100%;
  }
}

.Game {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--c_dark800));
  box-shadow: 0 0 50px 10px rgba($color: #000000, $alpha: 0.2);
  user-select: none;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 20px solid rgb(var(--c_light900),1);
  }
}

.ErrorMobile {
  display: none;
}

@media  (max-width: 1430px) or (max-height: 800px){
  .Game {
    display: none;
  }

  #root {
    max-width: 100%;
    height: 100%;
    transform: scale(1);
  }
  .ErrorMobile {
    display: flex;
  }
}